.home {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  max-width: var(--max-content-width);
  padding: var(--desktop-padding);
  @media(max-width: 1023px) {
    padding: var(--tablet-padding);
    flex-direction: column;
  }
  @media(max-width: 639px) {
    padding: var(--mobile-padding);
  }
  &__filter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 256px;
    @media(max-width: 1023px) {
      max-width: none;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__quantity {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
  }
  &__sort {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 233px;
  }
  &__sort-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-text-color);
    text-wrap: nowrap;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  &__catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    @media(max-width: 1279px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media(max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 639px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
